$slider: url(https://themify.me/demo/themes/peak/files/2016/05/angle-960x1024-600x600.jpg);
$gallery: url(https://themify.me/demo/themes/peak/files/2016/04/alone-971122_1920-1024x680-600x600.jpg);
$split: url(https://themify.me/demo/themes/peak/files/2016/05/person-731142_1920-1024x682-600x600.jpg);
$apple: url(https://themify.me/demo/themes/peak/files/2016/05/apple-1209003_1920-1024x652-600x600.jpg);
$nyc: url(https://themify.me/demo/themes/peak/files/2016/05/new-york-690567_1280-1024x684-600x600.jpg);
$sidebar: url(https://themify.me/demo/themes/peak/files/2016/04/knit-869221_1920-1024x682-600x600.jpg);
$activity: url(https://themify.me/demo/themes/peak/files/2016/04/photo-1422665717225-1a37f226c92a.jpeg-1024x683-600x600.jpg);
