@import "https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap";
@import "https://fonts.googleapis.com/css2?family=Ubuntu&display=swap";
@import "_placeholders";

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background-image: url(../images/bananas.png);
  background-attachment: fixed;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  min-width: 1140px;
  padding: 0 15px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .calories {
    border-collapse: collapse;
    margin: 0 auto;

    &-title {
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 8px 0;
      font-size: 18px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      background: linear-gradient(45deg, #020342 33%, #422aaa 66%, #5664db);
      color: #918923;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      box-shadow: 0 0 10px rgba(4, 6, 82, 0.788);

      &-number {
        display: block;
        font-size: 2rem;
        margin-bottom: 12px;
        font-family: "Nanum Gothic", sans-serif;

        letter-spacing: 4px;
        text-transform: uppercase;
      }
    }

    .calories-content tr:nth-child(2n) {
      background-color: rgba(75, 65, 165, 0.5);
    }

    & td {
      @extend %col;
      font-size: 16px;
      background-color: rgba(115, 113, 209, 0.5);
      border: 1px solid transparent;
      position: relative;
      transition: all 0.5s ease;
    }

    & tbody:hover td {
      color: transparent;
      text-shadow: 0 0 3px #7b679c;
    }
    & tbody:hover tr:hover td {
      color: #000000;
      text-shadow: none;
    }

    & th {
      @extend %col;
      position: relative;
      font-size: 18px;
      color: rgba(241, 241, 241, 0.89);
      background-color: rgba(54, 18, 214, 0.6);
      border: 2px solid transparent;
    }

    .age {
      width: 150px;
    }

    td:empty::after {
      content: "-";
    }
  }
}
