$secondaryColor: #cccccc;
$titleColor: indigo;
$subtitleColor: tomato;
$hoverColor: darken($subtitleColor, 20);
$highlighBorder: 2px solid #5522ff;
$partName: "article";
$fontSize: 14px;
$fontSizeS: $fontSize - 2px;
$fontSizeL: $fontSize + 2px;
$fontSizeXL: $fontSize + 4px;
